body {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'raleway regular';
    font-style: bold;
    font-weight: 200 300 400 500 600 700 800;
    src: local('raleway-regular'),
    url('/fonts/raleway-regular.ttf') format('ttf'),
}
@font-face {
    font-family: 'montserrat lihgt';
    font-style: normal;
    font-weight: 300 400 500 600 700 800;
    src: local('montserrat-light'),
    url('/fonts/Montserrat-Light.ttf') format('ttf'),
}
@font-face {
    font-family: 'raleway medium';
    font-style: normal;
    font-weight: 200 300 400 500 600 700 800;
    src: local('raleway-medium'),
    url('/fonts/raleway-medium.ttf') format('ttf'),
}
@font-face {
    font-family: 'raleway extrabold';
    font-style: normal;
    font-weight: 200 300 400 500 600 700 800;
    src: local('raleway-extrabold'),
    url('/fonts/raleway-extrabold.ttf') format('ttf'),
}
@font-face {
    font-family: 'raleway semibold';
    font-style: normal;
    font-weight: 200 300 400 500 600 700 800;
    src: local('raleway-semibold'),
    url('/fonts/raleway-semibold.ttf') format('ttf'),
}
@font-face {
    font-family: 'raleway bold';
    font-style: normal;
    font-weight: 200 300 400 500 600 700 800;
    src: local('raleway-bold'),
    url('/fonts/raleway-bold.ttf') format('ttf'),
}
@font-face {
    font-family: 'montserrat regular';
    font-style: normal;
    font-weight: 200 300 400 500 600 700 800;
    src: local('Montserrat-Regular'),
    url('/fonts/Montserrat-Regular.ttf') format('ttf'),
}
@font-face {
    font-family: 'montserrat ultralihgt';
    font-style: normal;
    font-weight: 200 300 400 500 600 700 800;
    src: local('montserrat-extralight'),
    url('/fonts/montserrat-extralight.ttf') format('ttf'),
}
@font-face {
    font-family: 'roboto regular';
    font-style: normal;
    font-weight: 200 300 400 500 600 700 800;
    src: local('roboto-regular'),
    url('/fonts/roboto-regular.ttf') format('ttf'),
}
.conteiner {
    margin: 0 auto;
    width: 1920px;
    min-height: 100%;
}
/* шапка сайта */
.header {
    padding: 40px 0 40px 0;
    width: 100%; 
    background: #555556 url(../img/header-bg.jpg);
    background-size: 100%;
    background-repeat: round;
    box-sizing: border-box;
}
/* логотип и меню */
.logo-menu-wrp {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 1170px;
    margin: 0 auto;
}
.header-nav-list {
    margin: 0;
    padding: 12px 0 0 0;
    float: left;
    list-style-type: none;
}
.header-nav-list-item {
    padding: 0 15px 0 15px;
    float: left;
}
.header-nav-wrp a svg {
    fill: #ffffff;
}
.header-nav-list-item a {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.header-nav-list-item:first-child {
    padding: 0 15px 0 0;
}
.header-nav-list-item:last-child {
    padding: 0 0 0 15px;
}
.header-nav-list-item:nth-of-type(9) {
    padding: 0 0 0 48px;
}
.header-nav-wrp {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    width: 92px;
    height: 24px;
    padding: 10px 0 0 63px;
    margin: 0;
}
/* кнопка карты */
.cart-icon-form {
    width: 30px;
    height: 30px;
    margin: 0 0 0 30%;
  } 
.cart-icon-form__svg {
    fill: #ffffff;
}
.cart-icon-form__svg:hover {
    fill: #c7b299;
    transition: 0.4s;
}
.cart-icon-form__svg:active {
    fill: #ffffff;
    transition: 0.4s;
}
.cart-icon-form__svg {
    padding: 0 28px 0 0;
}
.cart-icon-form__input {
    padding: 0;
    width: 0;
    min-height: 0;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
}
/* кнопка поиска */
.search-icon-form {
    width: 30px;
    height: 30px;
    margin: 0 0 0 30%;
  } 
.search-icon-form__svg {
    fill: #ffffff;
}
.search-icon-form__svg:hover {
    fill: #c7b299;
    transition: 0.4s;
}
.search-icon-form__svg:active {
    fill: #ffffff;
}
.search-icon-form__input {
    width: 0;
    min-height: 0;
    padding: 5px;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 40px;
    right: 13px;
    color: #fff;
    font-size: 16px;
    font-family: Arial;
    text-transform: capitalize;
}
.search-icon-form__input:focus {
    display: block;
    width: 150px;
    min-height: 20px;
    transition: width 1s ease;
    border: 2px solid #fff;
}
.logo-wrp {
    width: 181px;
    height: 56px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.logo {
    height: 0;
    text-decoration: none;
    fill: #ffffff;
}
.logo-txt {
    align-items: center;
    display: flex;
    height: 56px;
    text-decoration: none;
    font-family: Raleway;
    font-size: 34px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1.36px;
    text-align: right;
    color: #ffffff;
}
.logo svg {
    float: left;
    width: 64px;
    height: 56px;
}
.logo::after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.logo:hover .logo-txt {
    color: #c7b299;
    transition: 0.4s;
}
.logo:hover .logo-svg {
    fill: #c7b299;
    transition: 0.4s;
}
.header-nav-list-item a:hover {
    color: #c7b299;
    transition: 0.4s;
}
.header-nav-list-item a svg:hover {
    fill: #c7b299;
    transition: 0.4s;
}
.header-nav-list-item a:active {
    color: #ffffff;
}
.header-nav-list-item a svg:active {
    fill: #ffffff;
}
/* карусель */
.header-carusel {
    width: 100%;
    min-height: 270px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 285px auto 0 auto;
}
.header-carusel-btn {
    display: block;
    fill: #ad9f90;
    width: 40px;
    height: 40px;
}
.header-carusel-btn:nth-of-type(1) {
    margin: 94px 0 0 150px;
}
.header-carusel-btn:nth-of-type(2) {
    margin: 94px 150px 0 0;
}
.header-carusel-txt {
    width: 589px;
    min-height: 270px;
}
.header-carusel-title {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}
.header-carusel-bigtitle {
    margin: 0;
    padding: 0;
    font-family: Raleway;
    font-size: 52px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.carusel-txt {
    margin: 19px;
    padding: 0;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.header-carucel-txt-btn {
    text-decoration: none;
    border: none;
    outline: none;
    display: block;
    width: 170px;
    height: 53px;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: inset 0px -3px 0 0 #736357;
    background-color: #998675;
    text-transform: uppercase;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 23px;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.header-carucel-txt-btn:hover {
    color: #998675;
    box-shadow: inset 0px -3px 0 0 #cccccc;
    background-color: #ffffff;
    transition: 0.4s;
}
.header-carucel-txt-btn:active {
    color: #ffffff;
    box-shadow: inset 0px -3px 0 0 #736357;
    background-color: #998675;
    transition: 0.4s;
}
/* пагинация */
.header-carusel-pagination {
    width: 100%;
    min-height: 15px;
    display: flex;
    justify-content: center;
    margin: 323px 0 0 0;
}
.header-carusel-pagination-item {
    display: block;
    margin: 0 10px 0 0;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #989796;
    border: 3px solid transparent;
}
.header-carusel-pagination-item:hover {
    transition: 0.4s;
    border: 3px solid #9f9284;
    background-color: transparent;
    transform: scale(1.2);
}
/* второй блок */
.services {
    margin: 0;
    width: 100%;
    padding: 80px 0 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff;
}
.serveces-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 270px;
    margin: 0 33px 0 0;
    box-sizing: border-box;
}
.serveces-item::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
}
.serveces-item:hover .serveces-item-link-svg {
    fill: #c7b299;
    transition: 0.4s;
}
.serveces-item:hover .serveces-item-title {
    color: #c7b299;
    transition: 0.4s;
}
.serveces-item:hover:after {
    background-color: #c7b299;
    transition: 0.4s;
}
.serveces-item:last-child {
    margin: 0;
}
.serveces-item-link {
    text-decoration: none;
    text-align: center;
    padding: 0;
    margin: 0;
    color: #555555;
}
.serveces-item-title {
    text-transform: capitalize;
    padding: 0;
    margin: 29px 0 19px 0;
    text-decoration: none;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #555555;
}
.serveces-item-link-svg {
    width: 49px;
    height: 49px;
    fill: #555555;
}
.serveces-item-txt {
    margin: 0 0 33px 0;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    text-align: center;
    color: #8c8c8c;
}
.offers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 83px 0 0 0;
    margin: 0;
    background-color: #fbfaf8;
}
.offers-title {
    font-family: Raleway;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #555555;
    width: 100%;
    padding: 0;
    margin: 0;
}
.offers-txt {
    width: 757px;
    margin: 24px 0 0 0;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 28px;
    letter-spacing: normal;
    text-align: center;
    color: #8c8c8c;
}
.offers-wrp {
    margin: 40px 0 0 0;
    width: 1230px;
    height: 482px;
    background-color: #fbfaf8;
    position: relative;
}
.offers-img-left {
    position: absolute;
    left: 0;
    top: 82px;
    width: 770px;
    height: 400px;
    background-image: url(../img/browser-leftt.jpg);
    z-index: 1;
    background-color: #fbfaf8;
}
.offers-img-center {
    left: 230px;
    position: absolute;
    width: 770px;
    height: 482px;
    background-image: url(../img/browser-img.jpg);
    z-index: 3;
    background-color: #fbfaf8;
}
.offers-img-right {
    display: block;
    position: absolute;
    right: 0;
    top: 82px;
    width: 770px;
    height: 400px;
    background-image: url(../img/browser-right.jpg);
    z-index: 2;
    background-color: #fbfaf8;
}
.offers-img-left:hover {
    z-index: 4;
}
.offers-img-right:hover {
    z-index: 4;
}
.aside {
    width: 100%;
    padding: 49px 375px 49px 375px;
    background-image: url(../img/aside-bg.jpg);
    box-sizing: border-box;
}
.aside-wrp {
    margin: 0;
    padding: 0;
    width: 570px;
}
.aside-title {
    margin: 0;
    text-transform: capitalize;
    font-family: Raleway;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.aside-txt {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #615855;
}
.color-txt {
    text-transform: capitalize;
    font-family: Raleway;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #c7b299;
}
.aside-btn {
    float: right;
    border: none;
    outline: none;
    width: 170px;
    height: 50px;
    margin: -40px -600px 0 0;
    border-radius: 3px;
    box-shadow: inset 0px -3px 0 0 #736357;
    background-color: #998675;
    font-family: Raleway;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 23px;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.aside-btn:hover {
    color: #998675;
    box-shadow: inset 0px -3px 0 0 #cccccc;
    background-color: #ffffff;
    transition: 0.4s;
}
.aside-btn:active {
    color: #ffffff;
    box-shadow: inset 0px -3px 0 0 #736357;
    background-color: #998675;
    transition: 0.4s;
}
.projects {
    width: 100%;
    margin: 0;
    padding: 80px 0 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff;
}
.projects-title {
    width: 100%;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #555555;
}
.projects-txt {
    width: 757px;
    margin: 24px 0 40px 0;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 28px;
    letter-spacing: normal;
    text-align: center;
    color: #8c8c8c;
}
.projects-list {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.projects-list-item {
    float: left;
    list-style-type: none;
    margin: 0 10px 0 0;
}
.projects-list-item:last-child {
    margin: 0;
}
.projects-link {
    outline: none;
    border: none;
    margin: 0;
    padding: 10px 24px;
    border-radius: 3px;
    border: solid 1px #ebebeb;
    background-color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 21px;
    letter-spacing: normal;
    text-align: center;
    color: #8c8c8c;
    text-decoration: none;
    text-transform: capitalize;
}
.projects-link:hover {
    border-radius: 3px;
    border: solid 1px #998675;
    background-color: #998675;
    color: #ffffff;
    transition: 0.4s;
}
.projects-link:active {
    border-radius: 3px;
    border: solid 1px #ebebeb;
    background-color: #ffffff;
    color: #8c8c8c;
    transition: 0.4s;
}
.projects-wrp {
    margin: 40px 0 0 0;
    width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}
.products-item {
    width: 31.5%;
    height: 337px;
    margin: 0 0 30px 0;
    position: relative;
}
.products-item:nth-of-type(1) {
    background-image: url(../img/photo-bg-product.png);
    background-repeat: no-repeat;
    background-position: 0 -20px;
}
.products-item:nth-of-type(2) {
    background-image: url(../img/photo-bg-product-2.png);
    background-repeat: no-repeat;
    background-position: 0 -20px;
}
.products-item:nth-of-type(3) {
    background-image: url(../img/photo-bg-product-3.png);
    background-repeat: no-repeat;
    background-position: 0 -20px;
}
.products-item:nth-of-type(4) {
    margin: 0;
    background-image: url(../img/photo-bg-product-4.png);
    background-repeat: no-repeat;
    background-position: 0 -20px;
}
.products-item:nth-of-type(5) {
    margin: 0;
    background-image: url(../img/photo-bg-product-5.png);
    background-repeat: no-repeat;
    background-position: 0 -20px;
}
.products-item:nth-of-type(6) {
    margin: 0;
    background-image: url(../img/photo-bg-product-6.png);
    background-repeat: no-repeat;
    background-position: 0 -20px;
}
.products-item-wrp {
    width: 100%;
    height: 100px;
    background-color: #fbfaf8;
    padding: 29px 0 29px 29px;
    position: absolute;
    top: 237px;
    box-sizing: border-box;
}
.products-item-wrp::after {
    content: "";
    display: block;
    border: 30px solid transparent;
    border-bottom: 20px solid #fbfaf8;
    position: absolute;
    top: -50px;
    left: 19px;
}
.products-item-title {
    margin: 0 0 12px 0;
    padding: 0;
    text-transform: capitalize;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #c7b299;
}
.products-item-txt {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 20px;
    letter-spacing: normal;
    text-align: left;
    color: #d1d1d1;
}
.products-item-link {
    display: none;
    padding: 0;
    background-color: transparent;
    border: none;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 106px;
    left: 144px;
}
.products-item-search {
    display: none;
    padding: 0;
    background-color: transparent;
    border: none;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 106px;
    left: 198px;
}
.blackout {
    width: 100%;
    height: inherit;
    background: transparent;
}
.products-item-link-svg {
    fill: #ffffff;
    width: 26px;
    height: 26px;
}

.products-item-search-svg {
    fill: #ffffff;
    width: 26px;
    height: 26px;
}
.products-item:hover .products-item-wrp {
    background-color: #362f2d;
    transition: 0.4s;
}
.products-item:hover .products-item-wrp::after {
    border-bottom: 20px solid #362f2d;
    transition: 0.4s;
}
.products-item:hover .products-item-title {
    color: #ffffff;
    transition: 0.4s;
}
.products-item:hover .products-item-txt {
    color: #c7b299;
    transition: 0.4s;
}
.products-item:hover .blackout {
    background-color: #000000;
    opacity: 0.7; 
    transition: 0.4s;
}
.products-item:hover .products-item-link   {
    display: block;
    transition: 0.4s;
}
.products-item:hover  .products-item-search {
    display: block;
    transition: 0.4s;
}
.products-item:hover .products-item-link-svg {
    fill: #ffffff;
    transition: 0.4s;
}
.products-item:hover .products-item-search-svg {
    fill: #ffffff;
    transition: 0.4s;
}
.products-item-link:hover .products-item-link-svg {
    fill: #c7b299;
    transition: 0.2s;
}
.products-item-search:hover .products-item-search-svg{
    fill: #c7b299;
    transition: 0.2s;
}
.button-wrp {
    margin: 40px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.projects-btn {
    width: 170px;
    height: 50px;
    border-radius: 3px;
    box-shadow: inset 0px -3px 0 0 #736357;
    background-color: #998675;
    text-transform: uppercase;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 23px;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    outline: none;
    border: none;
}
.projects-btn:hover {
    color: #998675;
    box-shadow: inset 0px -3px 0 0 #cccccc;
    background-color: #ffffff;
    transition: 0.4s;
}
.projects-btn:active {
    color: #ffffff;
    box-shadow: inset 0px -3px 0 0 #736357;
    background-color: #998675;
    transition: 0.4s;
}
.video {
    width: 1920px;
    min-height: 705px;
    position: relative;
    color: #fff;
    display: flex;
}
.video-bg {
    width: 100%;
    height: 100v;
    object-fit: cover;
}
.video-btn {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 210px;
    left: 911px;
}
.video-btn-svg {
    padding: 0;
    margin: 15px;
    fill: #ffffff;
} 
.video-btn:hover .video-btn-svg {
    fill: #c7b299;
    transition: 0.4s;
}
  
.video-btn:active .video-btn-svg {
    fill: #ffffff;
    transition: 0.4s;
}   
/* .video-btn:active {
    не знаю как сделать воспроизведение видео при нажатии на эту кнопку похоже без js никак
    но если поставить в html preload="auto" и autoplay то видео будет воспроизводиться
} */
.video-wrp {
    width: 552px;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    top: 354px;
    left: 685px;
}
.video-title {
    width: 100%;
    font-family: Raleway;
    margin: 0;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.video-txt {
    width: 100%;
    margin: 29px 0 40px 0;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 28px;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.video-time {
    font-family: montserrat regular;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    text-align: center;
    color: #c7b299;  
}
.mobile {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-image: url(../img/mobile-bg.png);
    box-sizing: border-box;
    background-repeat: round;
}
.mobile-title {
    width: 100%;
    margin: 195px 0 40px 877px;
    padding: 0;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #555555;
}
.mobile-txt {
    margin: 0 0 0 875px;
    padding: 0 388px 0 0;
    width: 100%;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 28px;
    letter-spacing: normal;
    text-align: left;
    color: #8c8c8c;
}
.mobile-list {
    width: 100%;
    margin: 40px 0 179px 954px;
    padding: 0;
    list-style-type: none;
}
.mobile-list-item {
    position: relative;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 32px;
    letter-spacing: normal;
    text-align: left;
    color: #8c8c8c;
}
.mobile-list-item::before {
    content: ">";
    display: block;
    width: 21px;
    height: 21px;
    position: absolute;
    top: 6px;
    left: -40px;
    background-color: #c7b299;
    border-radius: 50%;
    line-height: 21px;
    color: #ffffff;
    text-align: center;
    font-size: 17px;
}
.counters {
    background-image: linear-gradient(to top, #211b19, #4e3427);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 69px 0 60px 0;
    margin: 0;
}
.counters-item {
    width: 180px;
    margin: 0 80px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.counters-item:last-child {
    margin: 0;
}
.counters-item-svg {
    width: 54px;
    height: 44px;
    text-align: center;
    fill: #c7b299;
    margin: 0 auto;
}
.counters-title {
    margin: 30px auto 21px auto;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: 36px;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.counters-txt {
    margin: 0 auto;
    font-family: montserrat;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 20px;
    letter-spacing: normal;
    text-align: center;
    color: #c7b299;
}
.counters-txt::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    margin: 30px auto 0 auto;
}
.recentposts {
    margin: 0;
    padding: 80px 0 80px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff;
}
.recentpost-title {
    width: 100%;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #555555;
}
.recentpost-txt {
    width: 757px;
    margin: 30px 0 40px 0;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 28px;
    letter-spacing: normal;
    text-align: center;
    color: #8c8c8c;
}
.recentpost-wrp {
    width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.post-item {
    position: relative;
    width: 31.6%;
}
.post-item img {
    display: block;
    width: 100%;
    height: 220px;
} 
.post-item-wrp {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 30px;
    background-color: #ffffff;
    border-top: none;
    border-left: solid 1px #f8f8f8;
    border-right: solid 1px #f8f8f8;
    border-bottom: solid 1px #f8f8f8;
}
.post-item-title {
    margin: 0;
    box-sizing: border-box;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #555555;
}
.post-item-txt {
    margin: 19px 0 27px 0;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 22px;
    letter-spacing: normal;
    text-align: left;
    color: #8c8c8c;  
}
.post-item-link {
    text-decoration: none;
    text-transform: capitalize;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 20px;
    letter-spacing: normal;
    text-align: left;
    color: #c7b299;
}
.post-item-link:hover {
    color: #ffffff;
    transition: 0.2s;
}
.post-item-link:active {
    color: #c7b299;
}
.post-item-link:hover:after {
    border-left: 8px solid #ffffff;
    transition: 0.2s;
}
.post-item-link:active:after {
    border-left: 8px solid #c7b299;
}
.post-item-link::after {
    content: "";
    display: inline-block;
    border: 5px solid transparent;
    border-left: 8px solid #c7b299;
    margin: 0 0 0 9px;
}
.post-item-data {
    position: absolute;
    background-color: #363636;
    margin: 0;
    padding: 11px;
    border-radius: 5px 5px 0 0;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 20px;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    top: 5%;
    left: 5%;
    z-index: 10;
}
.post-item-month {
    position: absolute;
    background-color: #252525;
    padding: 7px 14px;
    margin: 0;
    border-radius: 0 0 5px 5px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 20px;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    top: 15%;
    left: 5%;
    z-index: 10;
}
.post-item-pagination {
    position: absolute;
    width: 100%;
    min-height: 15px;
    display: flex;
    justify-content: center;
    margin:0;
    top: 185px;
}
.post-item-pagination-link {
    display: block;
    margin: 0 10px 0 0;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 3px solid transparent;
    margin: 0 5px;
    background-color: #ffffff;
    opacity: 0.3;
}
.post-item-pagination-link:hover {
    opacity: 1;
    border: 3px solid #d3c1ad;
    background: transparent;
    transform: scale(1.2);
    transition: 0.3s;
}
.post-item:hover .post-item-img {
    filter: brightness(20%);
    transition: 0.4s;
}
.post-item-data-wrp:hover .post-item-data {
    background-color: #c7b299;
    transition: 0.4s;
}
.post-item-data-wrp:hover .post-item-month {
    background-color: #a48d72;
    transition: 0.4s;
}
.post-item:hover .post-item-wrp {
    background-color: #362f2d;
    border-color: #362f2d;
    transition: 0.4s;
}
.post-item:hover .post-item-title {
    color: #c7b299;
    transition: 0.4s;
}
.post-item:hover .post-item-txt {
    color: #ffffff;
    transition: 0.4s;
}
.recentpost-arrows {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0 0 0;
    padding: 0;
}
.recentposts-arrows-btn-svg {
    width: 22px;
    height: 22px;
    margin: 0;
    padding: 0;
    fill: #d1d1d1;
}
.recentposts-arrows-btn {
    width: 0;
    height: 0;
    margin: 0 30px 0 0;
    padding: 0;
    border: none;
    outline: none;
}
.recentposts-arrows-btn-svg:hover {
    fill: #c7b299;
    transition: 0.4s;
}
.recentposts-arrows-btn-svg:active {
    fill: #d1d1d1;
    transition: 0.4s;
}
.partners {
    width: 100%;
    box-sizing: border-box;
    background-image: url(../img/partners-bg.png);
    display: flex;
    justify-content: center;
    padding: 140px 0 140px 0;
}
.partners-item {
    display: flex;
    align-items: center;
    width: 210px;
    height: 210px;
    margin: 0 90px 0 0;
}
.partners-item:last-child {
    margin: 0;
}
.widget {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #191919;
    padding: 80px 0 80px 0;
}
.widget-wrp {
    flex-direction: column;
    width: 15.5%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 40px 0 0;
}
.widget-wrp:last-child {
    margin: 0;
}
.widget-txt {
    width: 100%;
    margin: 29px 0 33px 0;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #555555;
}
.widget-wrp-logo {
    width: 100%;
    height: 56px;
}
.widget-link {
    text-decoration: none;
    text-transform: capitalize;
    font-family: montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 20px;
    letter-spacing: normal;
    text-align: left;
    color: #d1d1d1;
}
.widget-link::after {
    content: "";
    display: inline-block;
    border: 5px solid transparent;
    border-left: 8px solid #d1d1d1;
    margin: 0 0 0 9px;
}
.widget-link:hover {
    color: #c7b299;
    transition: 0.2s;
}
.widget-link:hover:after {
    border-left: 8px solid #c7b299;
    transition: 0.2s;
}
.widget-link:active {
    color: #d1d1d1;
}
.widget-link:active:after {
    border-left: 8px solid #d1d1d1;;
}
.widget-title {
    margin: 28px 0 33px 0;
    width: 100%;
    text-transform: capitalize;
    font-family: Raleway;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.widget-date {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 20px;
    letter-spacing: normal;
    text-align: left;
    color: #363636;
}
.widget-paragraph {
    margin: 10px 0 10px 0;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 20px;
    letter-spacing: normal;
    text-align: left;
    color: #555555;
}
.widget-date::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin: 21px 0 19px 0;
    background-color: #252525;
}
.widget-date:nth-last-of-type(3)::before {
    display: none;
}
.widget-time::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin: 23px 0 17px 0;
    background-color: #252525;
}
.widget-time:last-child::after {
    display: none;
}
.color-date {
    color: #ffffff;
}
.color-paragraph {
    color: #c7b299;
}
.widget-time {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 20px;
    letter-spacing: normal;
    text-align: left;
    color: #363636;
}
.dog {
    text-decoration: none;
    text-transform: lowercase;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 20px;
    letter-spacing: normal;
    text-align: left;
    color: #00bff3;
}
.widget-link-option {
    text-decoration: none;
    text-transform: lowercase;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 20px;
    letter-spacing: normal;
    text-align: left;
    color: #959595;
}
.widget-img {
    margin: 0 10px 10px 0;
}
.footer {
    width: 100%;
    padding: 45px 0 52px 0;
    background-color: #111111;
}
.footer-wrp {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer-txt {
    display: inline-block;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 20px;
    letter-spacing: normal;
    text-align: left;
    color: #555555;
}
.footer-link {
    display: inline-block;
    text-decoration: none;
    font-family: montserrat;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 20px;
    letter-spacing: normal;
    text-align: right;
    color: #959595;
}
.footer-link-faq {
    display: inline-block;
    text-decoration: none;
    font-family: montserrat;
    font-size: 13px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 20px;
    letter-spacing: normal;
    text-align: right;
    color: #c7b299;;
}
.footer-txt::after {
    content: "";
    width: 1px;
    height: 13px;
    float: left;
    margin: 4px 5px 0 5px;
    background-color: #555555;
}
.footer-txt:first-child::after {
    display: none;
}
/* верстка мобильной версии сайта */
@media (max-width: 580px) {
    .conteiner {
        width: 100%;
    }
    .header {
        width: 100%;
        background-repeat: round;
        box-sizing: border-box;
        background-size: 100%;
    }
    .logo-menu-wrp {
        flex-direction: column;
        width: 100%;
    }
    .header-nav {
        flex-direction: column;
    }
    .header-nav-list-item {
        clear: both;
    }
    .header-nav-wrp {
        margin: -40px 0px 16px 360px;
        padding: 0;
    }
    .header-carusel {
        display: none;
    }
    .services {
        width: 100%;
        padding: 40px 0 40px 0;
        margin: 0;
        flex-direction: column;
        align-items: center;
    }
    .serveces-item {
        margin: 0 0 30px 0;
    }
    .offers {
        width: 100%;
        padding: 40px 0 40px 0;
    }
    .offers-txt {
        width: 74%;
    }
    .offers-wrp {
        display: none;
    }
    .aside {
        width: 100%;
        padding: 40px 40px 40px 40px;
    }
    .aside-wrp {
        width: 57%;
    }
    .aside-btn {
        clear: both;
        margin: -57px -210px 0px 0px;
    }
    .projects {
        width: 100%;
        padding: 40px 0 40px 0;
    }
    .projects-txt {
        width: 68%;
    }
    .projects-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }
    .projects-list-item {
        margin: 0px 5px 5px 0;
    }
    .projects-wrp {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .products-item {
        width: 66.5%;
        height: 337px;
        margin: 0 0 30px 0;
    }
    .products-item:nth-of-type(4) {
        margin: 0 0 30px 0;
    }
    .products-item:nth-of-type(5) {
        margin: 0 0 30px 0;
    }
    .video {
        display: none;
    }
    .mobile {
        padding: 40px 0 0 0;
        background-repeat: no-repeat;
        background-size: 210% 73%;
        background-position: 39% 100%;
        background-color: #fbfaf8;
    }
    .mobile-title {
        text-align: center;
        width: 100%;
        margin: 0 0 20px 0;
        padding: 0;
    }
    .mobile-txt {
        text-align: center;
        width: 100%;
        margin: 0 0 60px 0;
        padding: 0 40px 0 40px;
    }
    .mobile-list {
        margin: 0 0 40px 290px;
        padding: 0 20px 0 0;
        box-sizing: border-box;
    }
    .counters {
        flex-direction: column;
        align-items: center;
        padding: 40px 0 40px 0;
    }
    .counters-item {
        margin: 0 0 20px 0;
    }
    .recentposts {
        padding: 40px 0 40px 0;
    }
    .recentpost-txt {
        width: 100%;
        padding: 0 40px 0 40px;
    }
    .recentpost-wrp {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .post-item {
        width: 66.5%;
        margin: 0 0 30px 0;
    }
    .post-item:last-child {
        margin: 0;
    }
    .recentpost-arrows {
        margin: 40px 0 40px 0;
    }
    .partners {
        padding: 40px 0 40px 0;
        flex-wrap: wrap;
        background-repeat: round;
    }
    .partners-item:nth-of-type(2) {
        margin: 0;
    }
    .partners-item {
        margin: 0 20px 0 0;
    }
    .widget {
        display: none;
    }
    .footer {
        padding: 40px 0 40px 0;
    }
    .footer-wrp {
        width: 100%;
    }
    .footer-wrp-txt {
        text-align: center;
    }


}
