body {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Arial;
    src: url(/fonts/9041.ttf);
}
.conteiner {
    width: 1180px;
    margin: 0 auto;
    min-height: 100%;
}
.main-header {
    width: 100%;
    min-height: 223px;
    padding: 50px 50px 43px 50px;
    background-color: #445161;
}
.main-header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.main-header-wrp {
    float: left;
    margin: -11px 0px 0px 0px;
}
.main-header-title {
    text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
    font-family: Arial;
    font-size: 59px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.main-header-list {
    margin: 29px 0 0 -2px;
    list-style-type: none;
    text-decoration: none;
    text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
    font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 36px;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.main-header-list-item {
    position: relative;
}
.main-header-list-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    position: absolute;
    top: 7px;
    left: -37px;
    background-image: url("../img/check-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.main-header-product-photo {
    float: right;
}
.content {
    width: 100%;
    min-height: 1673px;
}
.content:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.about {
    width: 100%;
    min-height: 252px;
    float: left;
    background-color: #ffffff;
    padding: 43px 50px 50px 50px;
}
.about-wrp {
    width: 683px;
    min-height: 201px;
    float: left;
}
.about-title {
    margin: 0 0 0 0;
    font-family: Arial;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 36px;
    letter-spacing: normal;
    text-align: left;
    color: #445161;
}
.about-txt-one {
    margin: 22px 0 0 0;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}
.about-txt-two {
    margin: 11px 0 0 0;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}
.about-video-product {
    margin: 7px 0 0 0;
    float: right;
}
.pluses {
    padding: 43px 50px 24px 50px;
    background-color: #f5f5f5;
    width: 100%;
    min-height: 350px;
    float: left;
}
.pluses-title {
    margin: 0;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 36px;
    letter-spacing: normal;
    color: #445161;
}
.pluses-list-one {
    list-style-type: none;
    float: left;
    margin: 21px 0 0 1px;
    width: 531px;
    min-height: 260px;
    text-decoration: none;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}
.pluses-list-two {
    list-style-type: none;
    float: right;
    margin: 21px 18px 0 0;
    width: 531px;
    min-height: 260px;
    text-decoration: none;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}
.pluses-list-item {
    padding: 0px 0 26px 0;
    position: relative;
}
.pluses-list-item:before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 7px;
    left: -41px;
    background-image: url("../img/shape3.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.scrinshots {
    float: left;
    width: 100%;
    min-height: 487px;
    background-color: #ffffff;
    padding: 44px 50px 50px 50px;
}
.scrinshots-title {
    margin: 0 0 0 15px;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 36px;
    letter-spacing: normal;
    color: #445161;
}
.scrinshots-wrp {
    margin: 28px 0 0 0;
    width: 100%;
    min-height: 330px;
    float: left;
}
.scrinshots-img {
    margin: 0px 0 -10px 0;
    float: left;
    width: 590px;
    min-height: 190px;
}
.scrinshots-txt {
    margin: -7px 0 0 0;
    float: right;
    min-height: 150px;
    width: 373px;
}
.scrinshots-txt h3 {
    margin: 0;
    font-family: Arial;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 30px;
    letter-spacing: normal;
    text-align: left;
    color: #445161;
}
.scrinshots-txt p {
    margin: 8px 0 0 0;
    width: 367px;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}