body {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Arial;
    src: url(/fonts/9041.ttf);
}
.conteiner {
    width: 1280px;
    margin: 0 auto;
    min-height: 100%;
}
.main-header {
    width: 100%;
    min-height: 223px;
    padding: 50px;
    background-color: #445161;
    box-sizing: border-box;
}
.main-header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.main-header-wrp {
    float: left;
    margin: 0;
}
.main-header-title {
    text-transform: capitalize;
    text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
    font-family: Arial;
    font-size: 59px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.main-header-list {
    text-transform: capitalize;
    margin: 29px 0 0 -2px;
    list-style-type: none;
    text-decoration: none;
    text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
    font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 36px;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.main-header-list-item {
    position: relative;
}
.main-header-list-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    position: absolute;
    top: 7px;
    left: -37px;
    background-image: url("../img/check-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.main-header-product-photo {
    float: right;
}
.content {
    float: left;
    width: 100%;
    min-height: 1673px;
    box-sizing: border-box;
}
.content:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.about {
    width: 100%;
    min-height: 252px;
    float: left;
    background-color: #ffffff;
    padding: 50px;
    box-sizing: border-box;
}
.about::after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.about-wrp {
    width: 640px;
    min-height: 201px;
    float: left;
}
.about-title {
    text-transform: capitalize;
    margin: 0;
    font-family: Arial;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 36px;
    letter-spacing: normal;
    text-align: left;
    color: #445161;
}
.about-txt-one {
    text-transform: capitalize;
    margin: 22px 0 0 0;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}
.about-txt-two {
    text-transform: capitalize;
    margin: 11px 0 0 0;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}
.about-video-product {
    margin: 0;
    float: right;
}
.pluses {
    padding: 50px;
    background-color: #f5f5f5;
    width: 100%;
    min-height: 350px;
    float: left;
    box-sizing: border-box;
}
.pluses::after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.pluses-title {
    text-transform: capitalize;
    margin: 0;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 36px;
    letter-spacing: normal;
    color: #445161;
}
.pluses-list-one {
    text-transform: capitalize;
    list-style-type: none;
    float: left;
    margin: 21px 0 0 0;
    width: 531px;
    min-height: 260px;
    text-decoration: none;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}
.pluses-list-two {
    text-transform: capitalize;
    list-style-type: none;
    float: right;
    margin: 21px 0 0 0;
    width: 531px;
    min-height: 260px;
    text-decoration: none;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}
.pluses-list-item {
    margin: 0 0 20px 0;
    position: relative;
}
.pluses-list-item:last-child {
    margin: 0;
}
.pluses ul {
    width: 46%;
}
.pluses-list-item:before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 7px;
    left: -41px;
    background-image: url("../img/shape3.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.scrinshots {
    float: left;
    width: 100%;
    min-height: 487px;
    background-color: #ffffff;
    padding: 50px;
    box-sizing: border-box;
}
.scrinshots::after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.scrinshots-title {
    text-transform: capitalize;
    margin: 0;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 36px;
    letter-spacing: normal;
    color: #445161;
}
.scrinshots-wrp {
    margin: 28px 0 0 0;
    width: 100%;
    min-height: 330px;
    float: left;
}
.scrinshots-img {
    margin: 0 0 20px 0;
    float: left;
    width: 590px;
    min-height: 190px;
}
.scrinshots-img:nth-child(3),
.scrinshots-img:nth-child(4) {
    margin: 0;
}
.scrinshots-txt {
    margin: -7px 0 0 0;
    float: right;
    min-height: 150px;
    width: 373px;
}
.scrinshots-txt h3 {
    text-transform: capitalize;
    margin: 0;
    font-family: Arial;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 30px;
    letter-spacing: normal;
    text-align: left;
    color: #445161;
}
.scrinshots-txt p {
    text-transform: capitalize;
    margin: 8px 0 0 0;
    width: 367px;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}
.reviews {
    float: left;
    padding: 50px;
    box-sizing: border-box;
    width: 100%;
    background-color: #f5f5f5;
}
.reviews::after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.reviews-title {
    text-transform: capitalize;
    margin: 0 0 35px 0;
    text-decoration: none;
    font-family: Arial;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 36px;
    letter-spacing: normal;
    text-align: center;
    color: #445161;
}
.reviews-wrp {
    width: 100%;
    min-height: 266px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.review-elements {
    float: right;
    width: 47%;
    min-height: 121px;
    position: relative;
}
.review-elements:first-child {
    margin: 0 0 24px 0;
}
.review-elements:nth-child(2) {
    margin: 0 32px 24px 0;
}
.review-elements:last-child {
    margin: 0 32px 0 0;
}
.review-elements::before {
    content: "";
    display: block;
    width: 75px;
    height: 75px;
    position: absolute;
    top: 10px;
    left: 0;
    background: #445161;
    border-radius: 50%;
}
.review-elements p {
    width: 434px;
    margin: 0 0 0 120px;
    padding: 16px;
    background-color: #ccc;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
}
  
.review-elements p:before {
    content: "";
    display: block;
    border: 13px solid transparent; 
    border-right: 13px solid #ccc;
    position: absolute;
    top: 35px;
    left: -26px;
}
  
.review-elements span {
    display: block;
    margin: 5px 0 0 0;
}
.buyitnow {
    float: left;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}
.buyitnow::after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.buyitnow-title {
    margin: 0 0 20px 0;
    width: 100%;
    display: block;
    text-transform: capitalize;
    font-family: Arial;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 36px;
    letter-spacing: normal;
    text-align: center;
    color: #445161;
}
.buyitnow-price {
    width: 30%;
    margin: 0 20px 0 0;
    background-color: #445161;
}
.buyitnow-price:last-child {
    margin: 0;
}
.buyitnow-item-title {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    text-transform: capitalize;
    font-family: Arial;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 30px;
    letter-spacing: normal;
    color: #ffffff;
    box-sizing: border-box;
}
.buyitnow-item-cost {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #fff;
    padding: 10px;
    border: 2px solid  #445161;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 30px;
    letter-spacing: normal;
    color: #445162;
}
.buyitnow-item-list {
    list-style-position: inside;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.buyitnow-item-btn {
    margin: 20px auto;
    display: block;
    width: 260px;
    padding: 14px;
    text-align: center;
    border: 1px solid #445161;
    text-decoration: none;
    background-color: #fff;
    text-transform: uppercase;
    border-radius: 10px;
    word-break: break-all;
    outline: none;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 18px;
    letter-spacing: normal;
    color: #445161;
}
.buyitnow-item-btn:hover {
    background-color: #ccc;
    color: #fff;
    border: 1px solid #fff;
}
.buyitnow-item-btn:active {
    background-color: #fff;
    color: #445161;
    border: 1px solid #445161;
}
.footer {
    float: left;
    width: 100%;
    background-color: #445161;
    padding: 50px;
    box-sizing: border-box;
}
.footer::after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.footer-title {
    display: block;
    margin: 0 auto 32px auto;
    text-transform: capitalize;
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 36px;
    letter-spacing: normal;
    color: #ffffff;
}
.footer-form {
    float: left;
    width: 500px;
    min-height: 354px;
    margin: 0 0 0 250px;
}
#fio {
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 14px 10px;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #445162;
    text-transform: capitalize;
}
#fio:focus {
    border: 2px solid #000000;
    box-sizing: border-box;
}
#email:focus {
    border: 2px solid #000000;
    box-sizing: border-box;
}
#email {
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 14px 10px;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #445162;
    margin: 21px 0 0 0;
}
#txt {
    box-sizing: border-box;
    width: 100%;
    resize: none;
    min-width: 170px;
    border-radius: 5px;
    padding: 14px 10px;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #445162;
    margin: 21px 0 21px 0;
}
#txt:focus {
    border: 2px solid #000000;
    box-sizing: border-box;
}
#btn {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 14px 48px;
    width: 140px;
    margin: 0 auto;
    display: block;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    text-align: center;
    color: #445162;
    text-transform: uppercase;
}
#btn:hover {
    background-color: #445162;
    color: #ffffff;
}
#btn:active {
    background-color: #ffffff;
    color: #445162;
}
.footer-wrp {
    min-width: 240px;
    min-height: 230px;
    float: left;
    margin: 0 0 0 46px;
}
.footer-contacts-list {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.footer-contacts-list-item a{
    font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 55px;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.footer-icons {
    padding: 0;
    margin: 22px 0 0 0;
}
.footer-icons a {
    text-decoration: none;
    font-size: 50px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 11.5px;
    text-align: left;
    color: #ffffff;
}
.copyright {
    float: left;
    background-color: #ffffff;
    width: 100%;
    display: block;
    text-align: center;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 8px;
    letter-spacing: 0.3px;
    color: #445162;
    padding: 10px 0 5px 0;
}







